* {
    margin: auto;
}

body {
    width: 60%;
    background-color: #0a0c10;
    color: #f0f3f6;
}

header .logo {
    background-color: #272b33;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    min-height: 150px;
    display: block;

}

.logo-text {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 61px;
}

.fhd-logo {
    display: none;
    background-color: #272b33;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.main-h {
    text-align: center;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
}

.blog-section-h {
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

header ul {
    margin-top: 10px;
    background-color: #deebf4;
    border-radius: 5px;
    padding: 3px;
}

header li {
    list-style-type: none;
    margin-top: 25px;
    margin-bottom: 25px;
}

nav {
    float: right;
    text-align: center;
    font-size: 23px;
    overflow: hidden;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    text-decoration: none;
    color: #f0f3f6;
}

nav ul {
    background-color: #272b33;
}

nav a {
    color: #7a828e;
}

.active-link {
    color: #f0f3f6;
}

.blog-border {
    border: 5px solid sandybrown;
    border-radius: 5px;
}

main {
    margin-top: 10px;
    float: left;
    width: 79%;
    border-radius: 5px;
    margin-bottom: 100px;
    display: block;
    max-height: 930px;
}

.main-tag {
    overflow: scroll;
    overflow-x:hidden;
}


main p {
    font-size: 22px;
    margin: 10px 20px 10px 20px;
    text-indent: 25px;

}

main h2 {
    margin-left: 45px;
}

main li {
    font-size: 20px;
}

.link-section-blog {
    width: 99%;
    border: 7px solid #7a828e;
    border-radius: 5px;
    margin-bottom: 20px;
}

.link-section {
    text-decoration: none;
    color: black;
}

.link-section:hover {
    text-decoration: none;
    color: black;
}

.link-section:active {
    text-decoration: none;
    color: black;
}

.blog-section-p {
    text-align: center;
    font-size: 25px;
}

.link-section-blog hr{
    height: 2px;
    background-color: #f0f3f6;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.blog-section-p {
    color: #f0f3f6;
}

.blog-section-h {
    color: #f0f3f6;
}

aside {
    float: right;
    overflow: hidden;
    width: 20%;
    border-radius: 5px;
}

aside pre {
    background-color: #272b33;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

article {
    margin-left: 15px;
}

.contacts {
    font-size: 25px;
    margin-left: 20px;
    text-indent: 0px;
}

.about-me-p {
    text-align: center;
    font-size: 25px;
}

article sup {
    font-size: 25px;
}

article sub {
    font-size: 25px;
}

.my-photo {
    width: 70%;
    border-radius: 5px;
    filter: drop-shadow(0 0 0.75rem black);
    margin-left: auto;
    margin-right: auto;
}

.content {
    margin-left: 20px;
    font-size: 25px;
}

.page-load {
    font-size: 20px;
}

.table-style {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-bottom: 10px;
}

.column-name {
    font-size: 30px;
}

.phone-number {
    text-decoration: none;
    color: #f0f3f6;
}

.phone-number:hover {
    color: #7a828e;
}

footer {
    background-color: #272b33;
    width: 60%;
    border-radius: 5px;
    min-height: 150px;
    position: fixed;
    bottom: 0;
    text-align: center;
}

.footer-p {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-top: 30px;
    font-size: 30px;
}


@media only screen
and (min-device-width : 360px)
and (max-device-width : 740px){
    body {
        width: 100%;
    }
    header {
        min-width: 10%;
        height: 20%;
        text-align: center;
        width: 100%;
    }

    aside pre {
        display: none;
    }

    aside {
        width: 100%;
    }

    .main-tag {
        height: 80%;
        width: 97%;
        overflow: visible;

    }

    main {
        width: 97%;
        overflow: visible;
        height: 80%;
        margin-bottom: 0;
        margin-bottom: 0;
    }

    .table-style {
        overflow: scroll;
        overflow-y:hidden;
    }

    main img {
        width: 95%;
    }

    .link-section {
        width: 100%
    }

    .blog-section-h {
        margin: auto;
    }

    footer {
        display: none;
    }
}

@media only screen
and (min-device-width : 1440px)
and (max-device-width : 1980px) {

    header .logo {
        display: none;
    }

    .fhd-logo{
        display: block;
    }

    main {
        max-height: 520px;
        oveflow: scroll;
        overflow-x:hidden;

    }

    main img {
        width: 95%;
    }

    .link-section-blog {
        width: 97%;
    }

    footer {
        min-height: initial;
    }

    nav pre {
        display: none;
    }
}
